<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Create Record
</button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
<%= simple_form_for Expense.new do |f| %>
  <%= f.input :description %>
  <%= f.input :amount %>
  <%= f.input :date %>

 </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
  
<% end %>




